{% macro headtable(wid, wdate, wsite, wcat, wuser, wcontrol, last) %}
{% with style = "opacity: 0.7; background-color: lightgray; text-align: center; vertical-align: middle; width:" %}
<th style="{{ style }} {{ wid }}%;">{{ msg['categorymover-table-id'] }}</th>
<th style="{{ style }} {{ wdate }}%;">{{ msg['categorymover-table-date'] }}</th>
<th style="{{ style }} {{ wsite }}%;">{{ msg['categorymover-table-site'] }}</th>
<th style="{{ style }} {{ wcat }}%;">{{ msg['categorymover-table-cat'] }}</th>
<th style="{{ style }} {{ wuser }}%;">{{ msg['categorymover-table-user'] }}</th>
<th style="{{ style }} {{ 100 - (wid + wdate + wcat + wuser + wcontrol) }}%;">
  {{ msg['categorymover-table-note'] }}
</th>
<th style="{{ style }} {{ wcontrol }}%">
  {{ last }}
{% endwith %}
</th>
{% endmacro %}

{% extends "sublayout.html" %}

{% block subcontent %}
  {% if data.results %}
    <table class="table" style="text-align: center;">
      {% if mode == 'queue' %}
        {{ headtable(wid=3, wdate=10, wsite=10, wcat=18, wuser=10, wcontrol=32, last='') }}
      {% else %}
        {{ headtable(wid=5, wdate=12, wsite=10, wcat=20, wuser=14, wcontrol=20,
                     last=msg['categorymover-table-status']) }}
      {% endif %}
      {% for row in data.results %}
        <tr class="{{ row.color }}">
          <td style="vertical-align: middle;" rowspan="2">{{ row.id }}</td>
          <td>{{ row.date_edited }}</td>
          <td>{{ row.fam }}</td>
          <td>{{ row.cat_from }}</td>
          <td style="vertical-align: middle;" rowspan="2">{{ row.user.name }}</td>
          <td style="vertical-align: middle;" rowspan="2">{{ row.note }}</td>
          <td style="vertical-align: middle; align: center;" rowspan="2">
          {% if mode == 'queue' %}
            <a href="{{ url_for('categorymover.edit', rid=row.id) }}"
               class="btn btn-sm btn-primary col-lg-3">
              {{ msg['categorymover-row-edit'] }}
            </a>
            <a href="{{ url_for('categorymover.approve', rid=row.id) }}"
               class="btn btn-sm btn-success col-lg-3 col-lg-offset-1 {{ row.disable_approve }}">
              {{ msg['categorymover-row-approve'] }}
            </a>
            <a href="{{ url_for('categorymover.reject' , rid=row.id) }}"
               class="btn btn-sm btn-danger col-lg-3 col-lg-offset-1 {{ row.disable_reject }}">
              {{ msg['categorymover-row-reject' ] }}
            </a>
          {% else %}
            {{ msg['categorymover-status-' + str(row.status)] }}
          {% endif %}
          </td>
        </tr>
        <tr class="{{ row.color }}">
          <td>{{ row.date_created }}</td>
          <td>{{ row.lang }}</td>
          <td>{{ row.cat_to }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <center><i>{{ msg['letstranslate-no-item'] }}</i></center>
  {% endif %}
{% endblock %}
