{% extends "layout.html" %}
{% block content %}

<h1>{{ msg['core-about'] }}</h1>
Nullzero's tools are developed by User:Nullzero. 
Some parts of codes and materials come from following sources.
<ul>
    <li>http://getbootstrap.com/</li>
    <li>http://jquery.com/</li>
		<li>http://flask.pocoo.org/</li>
		<li>https://github.com/imwilsonxu/fbone</li>
		<li>https://github.com/cburmeister/flask-bones</li>
		<li>http://wtforms.readthedocs.org</li>
		<li>https://git.wikimedia.org/tree/pywikibot%2Fcore.git</li>
</ul>
{% endblock %}
