{% extends "categorymover_layout.html" %}

{% block subcontent %}
	{% if data.queue %}
		<table class="table">
			<th style="width: 5%;">{{ msg['categorymover-table-id'] }}</th>
			<th style="width: 10%;">{{ msg['categorymover-table-date'] }}</th>
			<th style="width: 15%;">{{ msg['categorymover-table-from'] }}</th>
			<th style="width: 15%;">{{ msg['categorymover-table-to'] }}</th>
			<th style="width: 10%;">{{ msg['categorymover-table-user'] }}</th>
			<th style="width: 25%;">{{ msg['categorymover-table-note'] }}</th>
			<th style="width: 20%;"/>
			{% for row in data.queue %}
				<tr class="{{ row.is_approved }}">
					<td>{{ row.rid }}</td>
					<td>{{ row.date }}</td>
					<td>{{ row.catfrom }}</td>
					<td>{{ row.catto }}</td>
					<td>{{ row.user }}</td>
					<td>{{ row.note }}</td>
					<td>
						<a href="{{ url_for('categorymover.edit', rid=row.rid) }}"
						   class="btn btn-sm btn-primary col-lg-3">
							{{ msg['categorymover-row-edit'] }}
						</a>
						<a href="{{ url_for('categorymover.approve', rid=row.rid) }}"
						   class="btn btn-sm btn-success col-lg-3 col-lg-offset-1 {{ row.disable_approve }}">
							{{ msg['categorymover-row-approve'] }}
						</a>
						<a href="{{ url_for('categorymover.reject' , rid=row.rid) }}"
							 class="btn btn-sm btn-danger col-lg-3 col-lg-offset-1 {{ row.disable_reject }}">
							{{ msg['categorymover-row-reject' ] }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<center><i>{{ msg['categorymover-no-item'] }}</i></center>
	{% endif %}
{% endblock %}