{% from "macros/_helpers.html" import render_field, header %}
{% extends "letstranslate_layout.html" %}

{% block subcontent %}
  <h3>{{ msg['letstranslate-index-reserved'] }}</h3>
  <form action="{{ url_for('.edit', rid=data.rid, mode='reserved') }}" method="post">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-6 form-horizontal">
          {{ render_field(form.email, placeholder=msg['letstranslate-email-placeholder'], disabled=True) }}
          {{ render_field(form.name, placeholder=msg['letstranslate-name-placeholder'], disabled=True) }}
          {{ render_field(form.name2, placeholder=msg['letstranslate-name2-placeholder'], disabled=True) }}
        </div>
        <div class="col-lg-6 form-horizontal">
          {{ render_field(form.lang, placeholder=msg['letstranslate-lang-placeholder'], choices=c.FORM_ALLLANGS, disabled=True) }}
          {{ render_field(form.title, placeholder=msg['letstranslate-title-placeholder'], disabled=True) }}
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 form">
          {{ render_field(form.content, placeholder=msg['letstranslate-content-placeholder'],
                          labelsize=12, fieldsize=12, rows=10, disabled=True) }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 form">
          {{ render_field(form.content2, placeholder=msg['letstranslate-content2-placeholder'],
                          labelsize=12, fieldsize=12, rows=10) }}
        </div>
      </div>
    </div>
    <input type="submit" value="{{ msg['letstranslate-button-submit'] }}" class="btn btn-success col-lg-2 col-lg-offset-5 vspace"/>
  </form>
{% endblock %}