{% macro headtable(wid, wdate, wname, wtitle) %}
{% with style = "opacity: 0.7; background-color: lightgray; text-align: center; vertical-align: middle; width:" %}
<th style="{{ style }} {{ wid }}%;">{{ msg['letstranslate-table-id'] }}</th>
<th style="{{ style }} {{ wdate }}%;">{{ msg['letstranslate-table-date'] }}</th>
<th style="{{ style }} {{ wname }}%;">{{ msg['letstranslate-table-name'] }}</th>
<th style="{{ style }} {{ wtitle }}%;">{{ msg['letstranslate-table-title'] }}</th>
<th style="{{ style }} {{ 100 - wid - wdate - wname - wtitle }}%">
  {{ last }}
{% endwith %}
</th>
{% endmacro %}

{% extends "layout.html" %}

{% block content %}
  {% if data.results %}
    <div class='col-lg-8 col-lg-offset-2'>
      <table class="table" style="text-align: center;">
        {{ headtable(wid=10, wdate=25, wname=25, wtitle=25) }}
        {% for row in data.results %}
          <tr>
            <td style="vertical-align: middle;" rowspan="2">{{ row.rid }}</td>
            <td style="vertical-align: middle;" rowspan="2">{{ row.date }}</td>
            <td {% if mode == 'translated' %}style="vertical-align: middle;" rowspan="2"{% endif %}>
              {{ row.name }}
            </td>
            <td>{{ row.title }}</td>
            <td style="vertical-align: middle; align: center;" rowspan="2">
              <a href="{{ url_for('letstranslate.edit', rid=row.rid, mode=mode) }}"
                 class="btn btn-sm btn-primary col-lg-6 col-lg-offset-3" style="width: 50px">
                {{ msg['categorymover-row-view'] }}
              </a>
            </td>
          </tr>
          <tr>
            {% if mode != 'translated' %}
              <td>{{ row.name2 }}</td>
            {% endif %}
            <td>{{ row.lang }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <center><i>{{ msg['categorymover-no-item'] }}</i></center>
  {% endif %}
{% endblock %}
