{% from "macros/_helpers.html" import render_field, header %}
{% extends "letstranslate_layout.html" %}

{% macro link(title, mode=None) %}
<div class="row">
  <a href="{{ url_for('.' + title, mode=mode) }}" class="btn btn-default btn-lg col-lg-10 col-lg-offset-1 vspace">
    {% if mode %}
      {{ msg['letstranslate-index-{0}'.format(mode)] }}
    {% else %}
      {{ msg['letstranslate-index-new'] }}
    {% endif %}
  </a>
</div>
{% endmacro %}

{% block subcontent %}
  <div class="row">
    <div class="col-lg-4">
      <h3 class="center">{{ msg['letstranslate-index-for-translator'] }}</h3>
      <!-- {{ link('getarticle') }} -->
      {{ link('edit') }}
    </div>
    <div class="col-lg-4 vbarl">
      <h3 class="center">{{ msg['letstranslate-index-for-formatter'] }}</h3>
      {{ link('list', mode='translated') }}
      {{ link('list', mode='reserved') }}
    </div>
    <div class="col-lg-4 vbarl">
      <h3 class="center">{{ msg['letstranslate-index-for-organizer'] }}</h3>
      {{ link('list', mode='final') }}
      {{ link('list', mode='rejected') }}
      {{ link('list', mode='done') }}
    </div>
  </div>
{% endblock %}