{% from "macros/_helpers.html" import render_field, header %}
{% extends "letstranslate/layout.html" %}

{% block subcontent %}
  <div class="col-lg-6 col-lg-offset-3">
    <div class="row">
      <div class="col-lg-3 col-lg-offset-3">
        {{ msg['letstranslate-confirm-length'] }}
      </div>
      <div class="col-lg-6">
        {{ data.length() }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-3">
        {{ msg['letstranslate-confirm-id'] }}
      </div>
      <div class="col-lg-6">
        {{ data.data.id }}
      </div>
    </div>
    <br />
    {{ msg['letstranslate-confirm-text'] }}
    <br />
    <br />
  </div>
{% endblock %}