{% from "macros/_helpers.html" import render_field, header %}
{% extends "letstranslate/layout.html" %}

{% block subcontent %}
  <h3>{{ msg['letstranslate-index-translate'] }}</h3><br />
  <form action="{{ url_for('.edit_translate') }}" method="post">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-4 form-horizontal">
          {{ render_field(form.pid,
                          placeholder=msg['letstranslate-pid-placeholder'],
                          tooltip=msg['letstranslate-pid-tooltip']) }}
          {{ render_field(form.email,
                          placeholder=msg['letstranslate-email-placeholder'],
                          tooltip=msg['letstranslate-email-tooltip']) }}
        </div>
        <div class="col-lg-4 form-horizontal">
          {{ render_field(form.title_untranslated,
                          placeholder=msg['letstranslate-title_untranslated-placeholder'],
                          tooltip=msg['letstranslate-title_untranslated-tooltip']) }}
          {{ render_field(form.title_translated,
                          placeholder=msg['letstranslate-title_translated-placeholder'],
                          tooltip=msg['letstranslate-title_translated-tooltip']) }}
        </div>
        <div class="col-lg-4 form-horizontal">
          {{ render_field(form.lang,
                          placeholder=msg['letstranslate-lang-placeholder'],
                          tooltip=msg['letstranslate-lang-tooltip'],
                          choices=c.FORM_ALLLANGS) }}
          {{ render_field(form.fam,
                          placeholder=msg['letstranslate-fam-placeholder'],
                          tooltip=msg['letstranslate-fam-tooltip'],
                          choices=c.FORM_ALLFAMS) }}
        </div>
      </div>


      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 form-horizontal">
          {{ render_field(form.user_translator,
                          before=form.wikiuser(),
                          input_group=True,
                          placeholder=msg['letstranslate-user_translator-placeholder'],
                          tooltip=msg['letstranslate-user_translator-tooltip']) }}
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 form">
          {{ render_field(form.content_translated,
                          placeholder=msg['letstranslate-content_translated-placeholder'],
                          tooltip=msg['letstranslate-content_translated-tooltip'],
                          labelsize=12, fieldsize=12, rows=10) }}
        </div>
      </div>
    </div>
      <input type="submit" value="{{ msg['letstranslate-button-submit'] }}" class="btn btn-info col-lg-2 col-lg-offset-5"
             style="margin-top: 10px"/>
  </form>
{% endblock %}
