{% from "macros/_helpers.html" import render_field, header %}
{% extends "letstranslate/layout.html" %}

{% block subcontent %}
  <form action="{{ url_for('.edit_organize', id=data.id, mode=data.mode) }}" method="post">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-4 form-horizontal">
          {{ render_field(form.pid, placeholder=msg['letstranslate-pid-placeholder'], disabled=True) }}
          {{ render_field(form.user_translator, placeholder=msg['letstranslate-name-placeholder'], disabled=True) }}
          {{ render_field(form.email, placeholder=msg['letstranslate-email-placeholder'], disabled=True) }}
        </div>
        <div class="col-lg-4 form-horizontal">
          {{ render_field(form.lang, placeholder=msg['letstranslate-lang-placeholder'], choices=c.FORM_ALLLANGS, disabled=True) }}
          {{ render_field(form.fam, placeholder=msg['letstranslate-fam-placeholder'], choices=c.FORM_ALLFAMS, disabled=True) }}
        </div>
        <div class="col-lg-4 form-horizontal">
          {{ render_field(form.title_untranslated,
                          placeholder=msg['letstranslate-title_untranslated-placeholder'],
                          disabled=True)
          }}
          {{ render_field(form.title_translated,
                          placeholder=msg['letstranslate-title_translatedx-placeholder'],
                          disabled=(data.mode != 'submit'))
          }}
          {{ render_field(form.user_formatter, disabled=True) }}
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 form">
          {{ render_field(form.content_formatted, placeholder=msg['letstranslate-content_formatted-placeholder'],
                          labelsize=12, fieldsize=12, rows=10, disabled=(data.mode != 'submit')) }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 form">
          {{ render_field(form.content_translated, placeholder=msg['letstranslate-content_translated-placeholder'],
                          labelsize=12, fieldsize=12, rows=10, disabled=True) }}
        </div>
      </div>
    </div>
    {% if data.mode == 'submit' %}
      <input type="submit" value="{{ msg['letstranslate-button-submit'] }}" class="btn btn-primary col-lg-2 col-lg-offset-4 vspace"/>
      <a href="{{ url_for('.reject', mode='organizer', id=data.id) }}" class="btn btn-danger col-lg-2 vspace hspace">
        {{ msg['letstranslate-button-reject'] }}
      </a>
    {% elif data.mode == 'rejected' %}
      <a href="{{ url_for('.list_organize', mode=data.mode) }}" class="btn btn-primary col-lg-2 col-lg-offset-4 vspace">
        {{ msg['letstranslate-button-submit'] }}
      </a>
      <a href="{{ url_for('.recover', id=data.id) }}" class="btn btn-success col-lg-2 vspace hspace">
        {{ msg['letstranslate-button-recover'] }}
      </a>
    {% elif data.mode == 'done' %}
      <a href="{{ url_for('.list_organize', mode=data.mode) }}" class="btn btn-primary col-lg-2 col-lg-offset-5 vspace">
        {{ msg['letstranslate-button-submit'] }}
      </a>
    {% endif %}
  </form>
{% endblock %}