{% from "macros/_helpers.html" import render_field, header %}
{% extends "letstranslate/layout.html" %}

{% macro link(title, mode=None) %}
<div class="row">
  <a href=
    {% if mode %}
      "{{ url_for('.' + 'list_' + title, mode=mode) }}"
    {% else %}
      "{{ url_for('.' + 'edit_' + title) }}"
    {% endif %}
    class="btn btn-default btn-lg col-lg-10 col-lg-offset-1 vspace">
    {{ msg['letstranslate-index-' + title + (('_' + mode) if mode else '')] }}
  </a>
</div>
{% endmacro %}

{% block subcontent %}
  <div class="row">
    <div class="col-lg-4">
      <h3 class="center">{{ msg['letstranslate-index-for-translator'] }}</h3>
      <!--  link('getarticle')  -->
      {{ link('translate') }}
    </div>
    <div class="col-lg-4 vbarl">
      <h3 class="center">{{ msg['letstranslate-index-for-formatter'] }}</h3>
      {{ link('format', 'reserve') }}
      {{ link('format', 'submit') }}
    </div>
    <div class="col-lg-4 vbarl">
      <h3 class="center">{{ msg['letstranslate-index-for-organizer'] }}</h3>
      {{ link('organize', 'submit') }}
      {{ link('organize', 'rejected') }}
      {{ link('organize', 'done') }}
    </div>
  </div>
{% endblock %}