{% macro render_field(field, input_group=False, before='', after='', labelsize=4, fieldsize=8, choices=None, disabled=False, label="", name="") %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
  {% if label %}
    {% do updateLabel(field, label) %}
  {% endif %}

  {% if field.label %}
    {{ field.label(class="col-lg-{} control-label".format(labelsize)) }}
  {% endif %}
  <div class="col-lg-{% if field.label %}{{ fieldsize }}{% else %}12{% endif %}">
    {% if input_group or choices %}
      <div class="input-group">
        {% if before %}<span class="input-group-addon">{{ before|safe }}</span>{% endif %}
    {% else %}
      {{ before|safe }}
    {% endif %}
    {% if disabled %}
      {{ render_helper(field, errors=field.errors, readonly=None, **kwargs)}}
    {% else %}
      {{ render_helper(field, errors=field.errors, **kwargs)}}
    {% endif %}
    {% if input_group %}
        {% if after %}<span class="input-group-addon">{{ after|safe }}</span>{% endif %}
    {% endif %}
    {% if choices %}
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" {% if disabled %}disabled{% endif %}><span class="caret"/></button>
        <ul class="dropdown-menu" data-id="{{ field.id }}">
          {% for choice in choices %}
            <li><a href="#{{ choice[0] }}">{{ choice[1] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if input_group or choices %}
        </div>
    {% else %}
      {{ after|safe }}
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro header(text) %}
<h1><a data-toggle="modal" href="#page-description">{{ text }}</a></h1>
{% endmacro %}