{% from "macros/_helpers.html" import render_field, header %}
{% extends "letstranslate_layout.html" %}

{% block subcontent %}
  <form action="{{ url_for('.edit', rid=data.rid, mode=mode) }}" method="post">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-4 form-horizontal">
          {{ render_field(form.pid, placeholder=msg['letstranslate-pid-placeholder'], disabled=True) }}
          {{ render_field(form.name, placeholder=msg['letstranslate-name-placeholder'], disabled=True) }}
          {{ render_field(form.email, placeholder=msg['letstranslate-email-placeholder'], disabled=True) }}
          {{ render_field(form.name2, placeholder=msg['letstranslate-name2-placeholder'], disabled=True) }}
        </div>
        <div class="col-lg-4 form-horizontal">
          {{ render_field(form.lang, placeholder=msg['letstranslate-lang-placeholder'], choices=c.FORM_ALLLANGS, disabled=True) }}
          {{ render_field(form.fam, placeholder=msg['letstranslate-fam-placeholder'], choices=c.FORM_ALLFAMS, disabled=True) }}
        </div>
        <div class="col-lg-4 form-horizontal">
          {{ render_field(form.ftitle, placeholder=msg['letstranslate-ftitle-placeholder'], disabled=True) }}
          {{ render_field(form.title, placeholder=msg['letstranslate-title-placeholder'], disabled=(mode != 'final')) }}
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 form">
          {{ render_field(form.content2, placeholder=msg['letstranslate-content2-placeholder'],
                          labelsize=12, fieldsize=12, rows=10, disabled=(mode != 'final')) }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 form">
          {{ render_field(form.content, placeholder=msg['letstranslate-content-placeholder'],
                          labelsize=12, fieldsize=12, rows=10, disabled=True) }}
        </div>
      </div>
    </div>
    {% if mode == 'final' %}
      <input type="submit" value="{{ msg['letstranslate-button-submit'] }}" class="btn btn-success col-lg-2 col-lg-offset-4 vspace"/>
      <a href="{{ url_for('.reject', mode='final', rid=data.rid) }}" class="btn btn-danger col-lg-2 vspace hspace">
        {{ msg['letstranslate-button-reject'] }}
      </a>
    {% elif mode == 'rejected' %}
      <input type="submit" value="{{ msg['letstranslate-button-submit'] }}" class="btn btn-primary col-lg-2 col-lg-offset-4 vspace"/>
      <a href="{{ url_for('.recover', rid=data.rid, status=status.RESERVED) }}" class="btn btn-success col-lg-2 vspace hspace">
        {{ msg['letstranslate-button-recover'] }}
      </a>
    {% elif mode == 'done' %}
      <input type="submit" value="{{ msg['letstranslate-button-submit'] }}" class="btn btn-primary col-lg-2 col-lg-offset-5 vspace"/>
    {% endif %}
  </form>
{% endblock %}